<div class="full" align="center">
<div class="portada" align="center">
    <div class="contenido">
<h1>Cinema<br/>Ironhack</h1>
<!-- añardir link a movies -->
<a href="/movies">Check the movies</a>
</div>
</div>
</div>